# Python Practice

All the description and excercises are from W3school.

Please go to W3school for any python learning and practice here.

https://www.w3schools.com/python/python_syntax.asp

## What is Python?
Python is a poplular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for: 

- web development(server-side),
- software development,
- mathematics,
- system scripting.

## What can Python do?

- Python can be used on a server to create web applications.
- Python can be used alongside software to create workflows.
- Python can connect to database systems. It can alsop read and modify files.
- Python can be used to handle big data and perform complex mathematics.
- Python can be used for rapid prototyping, or for production-ready software development.

## Question 1:

Use python to output "Hello World!".

In [ ]:
print("Hello World!")

## Question 2:

How to insatll Python and check versions

In [ ]:
# On a windows PC, Go to command Line (cmd.exe):
C:\users\Your name>Python --version

# On a Linux or Mac, open the command line (Linux) or the terminal (Mac):
python --version

## Question 3:

How to quickstart a python file and output "Hello World"?

**Note: Python is an interpreted programming language, this means that as a developer you write Python (py.) files in a text editor and then put those files into the python interpreter to be executed.**

In [ ]:
# 1. In any text editor, write:
print("Hello World!")
# 2. Save as helloworld.py
# 3. Go to the command line or terminal
C:\users\Your name>python helloworld.py

## Question 4:

Python uses indentation to indicte a block of code.
Rearrange the following python code use the correct indentation.

`if 5>2: print("Five is greater than two!")`

**Note: the number of spaces is up to you as a programmer, the most common use is four, but it has to be at leart one.**

In [ ]:
if 5>2:
  print("Five is greater than two!")

## Question 5:

In Python, variables are created when you assign a value to it. 

Create a variable x and assign an integer 10 to x and create a variable y and assign the string "You are successful!" to y.

And output x and y.

In [ ]:
x = 10
y = "You are successful!"
print(x)
print(y)

10
You are successful!

## Question 6:

**Comments**

Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will ignore them.

Add in a comment "This is a comment" and output "You are successful!".

In [ ]:
# This is a comment.
print("You are successful!")

## Question 7:

**Comments**

Comments can be placed at the end of a line, and Python will ignore the rest of the line.

Add in a comment of "This is a comment" at the end of the line and output "You are successful!".

In [ ]:
print("You are successful!") # This is a comment.

# Question 8:

**Comments**

A comment does not have to explian the code, it can also be used to prevent Python from executing code.

Use the above questions' codes.

Write two line of codes and add # in front of the first line.

In [ ]:
# print("You are successful!")
print("You are successful!")

You are successful!

## Question 9:

**Comments**

Python does not really have a syntax for multiline comments.

To add a multiline comment you could insert a # for each line.

In [ ]:
#This is a comment
#written in
#more than just one line
print("You are successful!")

## Question 10:

**Variables**

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

Assign an integer 15 to x and "Jehoshaphat" to y and output x and y.

In [ ]:
x = 15
y = "Jehoshaphat"

print(x)
print(y)

15
Jehoshaphat

## Question 11:

**Variables**

Variables do not need to be declared with any particular type, and can even change type after they have been set.

Assign an integer 15 to x;

Then assign a string "Nick" to x.

Output x.

In [ ]:
x = 4       # x is of type int
x = "Nick"  # x is now of type str

print(x)

## Question 12:

**Casting**

If you want to specify the data type of a variable, this can be done with casting.

Assign a string "3" to x;

Assign a integer 3 to y;

Assign a float 3 to z;

Output x, y and z.

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

## Question 13:

**Data Type**

Assign an integer 15 to x;

Assign a string "Nick" to y;

Show the data type of x and y.

*Hint: You can get the data type of a variable with the type() funciton.*

In [ ]:
x = 15
y = "Nick"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

## Question 14:

**Single or Double Quotes**

Assign the string "Nick" to x using single or double quotes;

And output x to see if they are different.

In [ ]:
x = "Nick"

print(x)

# is the same as 

x = 'Nick'

print(x)

Nick
Nick

## Question 15:

**Case-Sensitive**

Assign an integer 15 to a;

then assign a string "Nick" to A;

print a and A to see if A will overwrite a.

In [ ]:
a = 15
A = "Nick"

print(a)
print(A)
# A will not overwrite a.

## Question 16:

**Variable names**

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python varialbes are:

- A variable name must start with a letter or the underscore character.
- A varialbe name cannot start with a number.
- A variable name can only contain alpha-numeric characters and underscores(A-z, 0-9, and _).
- Variable names are case-sensitive.

Assing the string "Nick" to the following variable names and output them one by one to see if the names work.

**Group one: **

- myvar
- my_var
- _my_var
- myVar
- MYVAR
- myvar2

**Group Two:**

- 2myvar
- my-var
- my var

In [ ]:
# Here is the example; please try the rest of them by yourself.
myvar = "Nick"
print(myvar)

Nick

## Question 17:

**Multi Words Variable Names**

Variable names with more than one word can be difficult to read.

There are three techniques you can use to make them more readable:

1. Camel Case: each word, except the first, starts with a capital letter.

`myVariableName = "Nick"`

2. Pascal case: each word starts with a capital letter.

`MyVariableName = "Nick"`

3. Snake Case: each word is separated by an underscore character.

my_variable_name = "Nick"

Use the above variable name examples to output the results.

In [ ]:
# Camel Case: each word, except the first, starts with a capital letter.
myVariableName = "Nick"
print(myVariableName)

# Pascal case: each word starts with a capital letter.
MyVariableName = "Nick"
print(MyVariableName)

# Snake Case: each word is separated by an underscore character.
my_variable_name = "Nick"
print(my_variable_name)

Nick
Nick
Nick

## Question 18:

**Many Values to Multiple Variables**

Python allows you to assign values to mulitple variables in one line.

Assign three string values ("Orange", "Banana", "Cherry") to three variables (x, y, z);

Output x, y, z.

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

## Question 19:

**One Value to Multiple Variables**

You can assign the same value to multiple variables in one line.

Assign one string value "Orange" to three variables (x, y , z);

Output x, y, z.

In [ ]:
x = y = z = "Orange"

print(x)
print(y)
print(z)

## Question 20:

**Unpack a Collection**

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

The list fruits = ["apple", "banana", "cherry"];

Assign the three elements of the list to three variables x,y,z;

Output x,y,z.

In [ ]:
# The same number of variables is assigned with the same numbers of elements in the list.
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits 

print(x)
print(y)
print(z)

## Question 21:

**Global Variables**

Variables that are created outside of a function are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

Create a variable called x and assign a string value "awesome";

Create a function to print "Python is awesome" by using the global variable x.

In [ ]:
x = "awesome"

def myfuck():
  print("Python is " + x)

myfuck()

Python is awesome

## Question 22:

**Global Variable**

If you create a variable inside a function, with the same name as the global variable, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

Create a global variable called x and assign a string value "awesome";

Create a function to create a local variable x and assign the string value "Fantastic" to x; then the function should print ("Python is " + x) by using the variable x (local).

Outside the function, output "Python is " + x.

Then compare the two outputs.

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

## Question 23:

**Global Keyword**

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

Create a function to print "Python is " + x, and make x a global variable inside the function;

Inside the function, assign the string value "fantastic" to x;

Outside the function, print "Python is " +x;

Compare the two outputs.

Hints: the two results should be the same.

In [ ]:
def myfunc():
  global x
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is fantastic

## Question 24:

**Data type**

Python has the following data types built-in by default:

- Text type: str
- Numeric type: int, float, complex
- Sequence type: list, tuple, range
- Mapping type: dict
- Set type: set, frozenset
- Boolean type: bool
- Binary type: bytes, bytearray, memoryview
- None Type: NoneType

Create an variable x and assign an integer value of 15 to x;
Show the data type of x.

Hint: You can assign different types of data to x and use type() to find out the data type of x.

In [ ]:
x = str("Hello World")
print(type(x))

x = int(20)	
print(type(x))

x = float(20.5)
print(type(x))

x = complex(1j)	
print(type(x))

# list(), tuple(), set() need double brackets.
x = list(("apple", "banana", "cherry")) 
print(type(x))

x = tuple(("apple", "banana", "cherry"))	
print(type(x))

x = range(6)
print(type(x))

x = dict(name="John", age=36)	
print(type(x))

x = set(("apple", "banana", "cherry"))
print(type(x))

x = frozenset(("apple", "banana", "cherry"))	
print(type(x))

x = bool(5)	
print(type(x))

x = bytes(5)
print(type(x))

x = bytearray(5)
print(type(x))

x = memoryview(bytes(5))
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

## Question 25:

**Type Conversion/Casting**

You can convert from one type to another with the int(), float(), and complex() methods.

Make x =10, y = 2.98;

Convert x to float as a, y to integer as b and x to complex as c;

print a, b and c;

print the data type of a, b and c.

In [ ]:
x = 1 #int
y = 2.98 # float

# convert from int to float
a = float(x)

#convert from float to int
b = int(y)

#convert from int to complex
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

## Question 26:

**Random Number**

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers.

Import random module, and display a random number from 1 and 9.

In [ ]:
import random

print(random.randrange(1,10))

3

## Question 27:

**Multiline Strings**

You can assign a multiline string to a variable by using three quotes.

Create a variable a and assign the following strings to a in multiple lines.

" Lorem ipsum dolor sit amet,

consectetur adipiscing elit,

sed do eiusmod tempor incididunt

ut labore et dolore magna aliqua."

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

## Question 28:

**Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

Square brackets can be used to access elements of the strings.

Create a variable x and assign "Hello World!" to x;

Print the first character of the strings.

Hint: Remember that the first character has the position 0.

In [ ]:
x = "Hello World!"
print(x[0])

H

## Question 29:

**Loop through a String**

Since strings are arrays, we can loop through the characters in a string, with a for loop.

Use for loop to print all the characters of the string "banana".

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

## Question 30:

**String length**

To get the length of a string, use the len() function.

Create a variable x and assign "Hello World!" to x;

Find out the length of x.

In [ ]:
x = "Hello World!"
print(len(x))

13

## Question 31:

**Check String**

To check if a certain phrase or character is present in a string, we can use the keyword in.

Make text = "The best things in life are free!";

Check if "free" is present in text.

In [ ]:
text = "The best things in life are free!"
print("free" in text)

True

## Question 32:

**Check String**

If statement can be used to check strings as well.

Make text = "The best things in life are free";

Use if statement to check if "free" is present in text;

Print "Yes, "free" is present" if present.

In [ ]:
text = "The best thigns in life are free!"
if "free" in text:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

## Question 33:

**Check String**

To check if a certain phrase or character is NOT present in a string, we can use the keyword in.

Make text = "The best things in life are free!";

Check if "expensive" is NOT present in text.

In [ ]:
text = "The best things in life are free!"

print("expensive" not in text)

True

## Question 34:

**Check String**

If statement can be used to check strings as well.

Make text = "The best things in life are free";

Use if statement to check if "expensive" is NOT present in text;

Print "No, "expensive" is present" if NOT present.

In [ ]:
text = "The best things in life are free!"

if "expensive" not in text:
  print("No, 'expensive' is not present.")

No, 'expensive' is not present.

## Question 35:

**Slicing Strings**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

Create a variable x and assign the string value of "Hello World";

Get characters from position 2 to position 5(not included).

In [ ]:
x = "Hello World"
print(x[2:5])

llo

## Question 36:

**Slice from the start**

By leaving out the start index, the range will start at the first character.

Create a variable x and assign the string value of "Hello World";

Get the characters from the start to the postion 5 (not included).

In [ ]:
x = "Hello World"
print(x[:5])

Hello

## Question 37:

**Slice to the end**

By leaving out the end index, the range will go to the end.

Create a variable x and assign the string value of "Hello World";

Get the characters from position 2, and all the way to the end.

In [ ]:
x = "Hello World"
print(x[2:])

llo World

## Question 38:

**Negative Indexing**

Use negative indexes to start the slice from the end of the string.

Create a variable x and assign the string value of "Hello World";

Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2).

In [ ]:
x = "Hello World"
print(x[-5:-2])

Wor

## Question 39:

**Modify Strings**

**Upper Case**

Create a variable x and assign the string value of "Hello World";

Print in upper case.

In [ ]:
x = "Hello World"
print(x.upper())

HELLO WORLD

## Question 40:

**Modify Strings**

**Lower Case**

Create a variable x and assign the string value of "Hello World";

Print in lower case.

In [ ]:
x = "Hello World"
print(x.lower())

hello world

## Question 41:

**Modify Strings**

**Remove Whitespace**

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

Create a variable x and assign the string value of "Hello World";

Print without any whitespaces.

In [ ]:
x = "Hello World"
print(x.strip()) # returns "Hello World"

Hello World

## Question 42:

**Modify Strings**

**Replace()**

Create a variable x and assign the string value of "Hello World";

Replace "H" with "J" and print the original string.

In [ ]:
x = "Hello World"
print(x.replace("H","J"))

Jello World

## Question 43:

**Modify Strings**

**Split()**

The split() methond returns a list where the text between the specified separator becomes the list itmes.

The split() method splits the string into substrings if it finds instances of the separator.

Create a variable x and assign the string value of "Hello, World";

Separate x by the colon and print the result.

In [ ]:
x = "Hello, World"
print(x.split(","))

['Hello', ' World']

## Question 44:

**String Concatenation**

Create a string "Hello" and b string "World";

Connect a and b together as c;

Print c.

Hint: In Python, use "+" sign to concate the strings.

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

## Question 45:

**Format String (One argument)**

As we learned in the Python Variables chapter, we cannot combine strings and numbers.

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are.

Create a variable age = 28 and txt = "My name is Nick, and I am {}"

Using format() method to print "My name is Nick, I am 36" using format() method.

In [ ]:
age = 28
txt = "My name is Nick, and I am {}"
print(txt.format(age))

My name is Nick, and I am 28

## Question 46:

**Format String (Multiple Arguments)**

The format() can take unlimited number of arguments, and are placed into the respective placeholders.

Make quantity = 3 and itemno =567 and price = 100;

Using format() method to print "I want 3 pieces of item 567 for 100 dollars."

In [ ]:
quantity = 3
itemno =567
price = 100
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 100 dollars.

## Question 47:

**Format String (Indexed)**

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders.

Make quantity = 3 and itemno =567 and price = 100;
Using formmat() method to print "I want pay 100 dollars for 3 pieces of item 567."

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

## Question 48:

**Escape Character**

To insert character that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

You will get an error if you use double quotes inside a string that is surrounded by double quotes as followed:

txt = "We are the so-called "Vikings" from the north."

Use escape character to fix the illegal character and show double quotes outside Vikings when printed.

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

## Q48 Hint:

**Escape Character**

Other escape character used in Python:

\'	  Single Quote	
\\	  Backslash	
\n	  New Line	
\r	  Carriage Return	
\t	  Tab	
\b	  Backspace	
\f	  Form Feed	
\ooo	Octal value	
\xhh	Hex value

## Python - String Methods

**Method Description**

capitalize()   Converts the first character to upper case

casefold()	   Converts string into lower case

center()	     Returns a centered string

count()	       Returns the number of times a specified value 
occurs in a string

encode()	     Returns an encoded version of the string

endswith()	   Returns true if the string ends with the specified value

expandtabs()	 Sets the tab size of the string

find()	        Searches the string for a specified value and returns the position of where it was found

format()	     Formats specified values in a string

format_map()	 Formats specified values in a string

index()	       Searches the string for a specified value and returns the position of where it was found

isalnum()	     Returns True if all characters in the string are alphanumeric

isalpha()	     Returns True if all characters in the string are in the alphabet

isdecimal()	   Returns True if all characters in the string are decimals

isdigit()	     Returns True if all characters in the string are digits

isidentifier()	Returns True if the string is an identifier

islower()	     Returns True if all characters in the string are lower case

isnumeric()	   Returns True if all characters in the string are numeric

isprintable()	 Returns True if all characters in the string are printable

isspace()	     Returns True if all characters in the string are whitespaces

istitle()	     Returns True if the string follows the rules of a title

isupper()	     Returns True if all characters in the string are upper case

join()	       Joins the elements of an iterable to the end of the string

ljust()	       Returns a left justified version of the string

lower()	       Converts a string into lower case

lstrip()	     Returns a left trim version of the string

maketrans()	   Returns a translation table to be used in translations

partition()	   Returns a tuple where the string is parted into three parts

replace()	     Returns a string where a specified value is replaced with a specified value

rfind()	        Searches the string for a specified value and returns the last position of where it was found

rindex()	     Searches the string for a specified value and returns the last position of where it was found

rjust()	       Returns a right justified version of the string

rpartition()	 Returns a tuple where the string is parted into three parts

rsplit()	     Splits the string at the specified separator, and returns a list

rstrip()	     Returns a right trim version of the string

split()	       Splits the string at the specified separator, and returns a list

splitlines()	Splits the string at line breaks and returns a list

startswith()	Returns true if the string starts with the specified value

strip()	      Returns a trimmed version of the string

swapcase()	  Swaps cases, lower case becomes upper case and vice versa

title()	      Converts the first character of each word to upper case

translate()	  Returns a translated string

upper()	      Converts a string into upper case

zfill()	       Fills the string with a specified number of 0 values at the beginning

## Question 49:

**Boolean**

Create a variable x =200 and y = 33;

Use if statement to compare x and y;

If x > y, output "x is greater than y.";

If x < y, output "y is greater than x.".

In [ ]:
x = 200
y = 33

if x >y:
  print("x is greater than y.")
else:
  print("y is greater than x.")

x is greater than y.

## Question 50:

**Boolean**

Print the following values and see if the value is true or false.

- bool("abc")
- bool(123)
- bool(["apple", "cherry", "banana"])

- bool(False)
- bool(None)
- bool(0)
- bool("")
- bool(())
- bool([])
- bool({})

In [ ]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

True
True
True
False
False
False
False
False
False
False

## Question 51:

**Functions can return a boolean**

You can create functions that returns a Boolean Value.

Create a function to return True;

Print the function.

In [ ]:
def myfunc():
  return True

myfunc()

True

## Question 52:

**Class can return a Boolean**

Create a class to return 0;

Make myobj = myclass();

Print the boolean value of myobj.

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

## Question 53:

**isinstance()**

Python also has many built_in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type.

Create a variable x =200;

Use isinstance() to check if an object is an integer or not.

In [ ]:
x = 200

print(isinstance(x, int))

True

## Question 54:

**List**

List are used to store mutiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and dictionary, all with different qualities and usage.

Lists are created using square brackets.

Create a list with elements being "apple", "banana" and "cherry".
print the list.

In [1]:
thislist = ["apple","banana","cherry"]
print(thislist)

['apple', 'banana', 'cherry']

## Question 55:

**ordered, changeable, allow duplicate values**

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index[0], the second item has index[1] etc.

1. When we say that lists are ordered, it means: if you add new items to a list, the new items will be placed at the end of the list.

2. The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

3. Since lists are indexed, lists can have items with the same value.

Try to create a list with the following elements and print the list to check if it works.

"apple", "banana", "cherry", "apple", "cherry"

In [2]:
thislist = ["apple","banana","cherry","apple","cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

## Question 56:

**List Length**

Print the number of items in the following list:

["apple","banana","cherry"]

In [4]:
thislist = ["apple","banana","cherry"]
print(len(thislist))

3

## Question 57:

**List items - Data types**

List items can be of any data types.

Try to create lists with the following elements and print them to check if lists can contain different data types.

- list1 = ["apple", "banana", "cherry"]
- list2 = [1, 5, 7, 9, 3]
- list3 = [True, False, False]
- list4 = ["abc", 34, True, 40, "male"]

In [5]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]

print(list1, list2, list3,list4)

['apple', 'banana', 'cherry'] [1, 5, 7, 9, 3] [True, False, False] ['abc', 34, True, 40, 'male']

## Question 58:

**The data type of list**

Use type() methond to check the data type of the following list:

mylist = ["apple", "banana", "cherry"]

In [7]:
mylist = ["apple", "banana", "cherry"]

print(type(mylist))

<class 'list'>

## Question 59:

**The list() Constructor**

The other way to create a list to use the list() constructor.

use list() to make a list ["apple","banana","cherry"] and print the list.

In [8]:
# Note the double round-brackets.
thislist = list(("apple","banana","cherry"))
print(thislist)

['apple', 'banana', 'cherry']

## Question 60:

**Negative Indexing**

Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

Print the last item of the list:

thislist = ["apple","banana","cherry"]

In [2]:
thislist = ["apple","banana","cherry"]
print(thislist[-1])

cherry

## Question 61:

**Range of Negative Indexes**

Specify negative indexes if you want to start the search from the end of the list.

Make the following list: 

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

Return the items from "orange"(-4) to, but NOT including "mango"(-1).

In [3]:
thislist = list(("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"))
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

## Question 62:

**Check if item exists**

To determine if a specified item is present in a list use the in keyword.

Check if "apple" is in the following list:

thislist = ["apple","banana","cherry"]

In [4]:
thislist = ["apple","banana","cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list.")

yes, 'apple' is in the fruits list.

## Question 63:

**Change Item Value**

To change the value of a specific item, refer to the index number.

thislist = ["apple","banana","cherry"]

Change the second item to "blackcurrant" and print the list.

In [5]:
thislist = list(("apple","banana","cherry"))
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

## Question 64:

**Change a Range of Item Values**

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon".

Return the list.

In [6]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant","watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

## Question 65:

**Insert more values**

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly.

Make thislist = ["apple", "banana", "cherry"]

Replace the second item with "blackcurrant" and "watermelon".

Print the list to see what happens.

In [7]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant","watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

## Question 66:

**Insert less values**

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly.

Make thislist = ["apple","banana","cherry"]

Replace the second and third items with "watermelon".

Print the list.

In [8]:
thislist = ["apple","banana","cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

## Question 67:

**Insert Items**

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

Make thislist = ["apple","banana","cherry"]

Insert "watermelon" after "banana".

Print thislist

In [12]:
thislist = list(("apple","banana","cherry"))
thislist.insert(2,"watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

# Python File Handling

# Python Database Handling